<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about.html">About Us</a></li>
				<li><a href="/const.html">Construction Process</a></li>
				<li><a href="/order.html">Order Weights</a></li>
				
			</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>

	        		
				</ul>
			</footer>
		</body>
	</html>
